@import './blocks/promo.css';
@import './blocks/prediction.css';
@import './blocks/question_one.css';
@import './blocks/question_new.css';

* {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #262628;
}

.container {
    width: 442px;
    margin: 0 auto;
}

@keyframes gradient {
	0% {
		left: 0;
	}
	100% {
		left: 50%;
	}
}

.btn {
    position: relative;
    cursor: pointer;
    width: 315.95px;
    height: 69.44px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    background: 
    linear-gradient(90deg, rgba(246, 200, 102, 0.9) -6.2%, rgba(254, 173, 53, 0.9) 100%);
    border-radius: 50px;
    border: none;
    margin-bottom: 35px;
}

.btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: linear-gradient(248.67deg, rgba(255, 255, 255, 0) 30.84%, rgba(255, 255, 255, 0.29) 46.06%, rgba(255, 255, 255, 0) 64.04%);
    width: 150px;
    height: 69.44px;
    animation: gradient 1.5s ease infinite;
}
