@import './blocks/promo.css';
@import './blocks/prediction.css';
@import './blocks/question_one.css';
@import './blocks/question_new.css';
@import './blocks/micro.css';
@import './blocks/final.css';
@import './blocks/footer.css';
@import './blocks/spinner.css';
@import './media.css';


* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #262628;
    color: rgba(255, 255, 255, 0.6);
}

.container {
    width: 442px;
    margin: 0 auto;
}

@keyframes gradient {
	0% {
		left: 0;
	}
	100% {
		left: 50%;
	}
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%
    }
}

.appear {
    visibility: visible;
    animation: appear 2s;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.btn {
    position: relative;
    cursor: pointer;
    width: 315.95px;
    height: 69.44px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    background: 
    linear-gradient(90deg, rgba(246, 200, 102, 0.9) -6.2%, rgba(254, 173, 53, 0.9) 100%);
    border-radius: 50px;
    border: none;
    margin-bottom: 35px;
}

.btn_green {
    background: linear-gradient(90deg, rgba(76, 217, 100, 0.9) -6.2%, rgba(50, 185, 73, 0.9) 100%);
}

.btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: linear-gradient(248.67deg, rgba(255, 255, 255, 0) 30.84%, rgba(255, 255, 255, 0.29) 46.06%, rgba(255, 255, 255, 0) 64.04%);
    width: 150px;
    height: 69.44px;
    animation: gradient 1.5s ease infinite;
}

@media (max-width: 443px) {

    .container {
        width: 255px;
    }

    .btn {
        width: 182px;
        height: 40px;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 20px;
    }

    .btn::after {
        width: 87px;
        height: 40px;
    }

    .btn_green {
        width: 217.01px;
        height: 48px;
    }
}