.footer__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #9D9D9D;
}

.footer__text span {
    display: none;
}